* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", serif;
    font-weight: 400;
	font-size: 18px;
	color: #000;
	background-color: #ffffff;
	width: 100%;
}



.first {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	//height: 600px;
	height: calc( (100vw - 320px)/(1200 - 320) * (500 - 300) + 300px);
	background-color: #333;
	color: #fff;
}
.first .container > * {
	margin-bottom: 20px;
	text-align: center;
	display: block;
}

.first h1 {
	font-size: calc( (100vw - 320px)/(1200 - 320) * (45 - 24) + 24px);
}

.first strong {
	font-size: calc( (100vw - 320px)/(1200 - 320) * (50 - 18) + 18px);
}

.first a {
	font-size: calc( (100vw - 320px)/(1200 - 320) * (40 - 20) + 20px);
	padding: 10px 15px;
	color: #333;
	border: 2px solid #333333;
	display: block;
	background-color: #fff;
	text-decoration: none;
	max-width: 180px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	transition: .55s;
}

.first a:hover {
	background-color: #333;
	color: #fff;
	border: 2px solid #fff;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;`
}
/**********************************************/
.second {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc( (100vw - 320px)/(1200 - 320) * (500 - 400) + 400px);
	background-color: #333;
	color: #000;
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.second:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255, 0.5);
	z-index: -1;
}
.second .container > * {
	margin-bottom: 20px;
	text-align: center;
	display: block;
}

.second h2 {
	font-size: calc( (100vw - 320px)/(1200 - 320) * (45 - 24) + 24px);
}

.second strong {
	font-size: calc( (100vw - 320px)/(1200 - 320) * (30 - 18) + 18px);
}

.second a {
	font-size: calc( (100vw - 320px)/(1200 - 320) * (33 - 20) + 20px);
	padding: 10px 15px;
	color: #000;
	border: 2px solid #333333;
	display: block;
	background-color: #fff;
	text-decoration: none;
	max-width: 180px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	transition: .55s;
}

.second a:hover {
	background-color: #333;
	color: #fff;
	border: 2px solid #fff;
}



.modal {
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.9);
	width: 100%;
	height: 100vh;
	display: none;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	text-align: center;
	color: #fff;
	z-index: 10;
}
.container {
	position: relative;
	z-index: 10;
}
.__open {
	cursor: pointer;
}
.close {
	font-size: 45px;
	text-align: center;
}
.span {
	font-size: calc( (100vw - 320px)/(1200 - 320) * (33 - 20) + 20px);
	margin-bottom: 15px;
}
.span2 {
	font-size: calc( (100vw - 320px)/(1200 - 320) * (30 - 20) + 20px);
	margin-bottom: 15px;
}
.span3 {
	font-size: calc( (100vw - 320px)/(1200 - 320) * (27 - 20) + 20px);
	margin-bottom: 15px;
}
.span3 {
	font-size: calc( (100vw - 320px)/(1200 - 320) * (25 - 20) + 20px);
}

.modal.__active {
	display: flex;
}
